extends layout

block content

  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='#') #{title}
  .container-fluid
    .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar
              li.active
                a(href='#') Link
              li.active
                a(href='#') Link

        .span9
            .hero-unit

            h1 Risk Analysis

            h2 Index
            ul
              li Section 1: Overview
              li Section 2: Assessment
              li Section 3: Results
              li Section 4: On-Going Assessment Activities
  
            h3 Definitions

            ul
              li 
                p Tier 1: Organization (high-level, strategic context)
                  ul
                    li Threats specific to the organization
                    li System weaknesses or deficiencies
                    li Potential adverse impact from loss
                    li Impact of new technology
              li
                p Tier 2: Mission / Business processes (medium-level, architecture)
                  ul
                    li Closely tied to the development of “Business Continuity Plans” (BCP)
                    li Communicated to team performing Tier 3 assessment
              li
                p Tier 3: Information Systems (low-level, implementation)


  script(type='text/javascript')
