extends layout

block content

  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='#') #{title}
  .container-fluid
    .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar
              li
                p Organization Name
                  br
                  input(data-bind="value: nameValue")
              li
                p Current Year
                  br
                  textarea(data-bind="value: yearValue")
              li
                p Organization Description
                  br
                  textarea(data-bind="value: descriptionValue")
              li
                p Time Period Assessment is Valid
                  br
                  textarea(data-bind="value: periodValue")

        .span9
            .hero-unit

            h1(data-bind="text: titleValue")

            h2 Index
            ul
              li Section 1: Overview
              li Section 2: Assessment
              li Section 3: Results
              li Section 4: On-Going Assessment Activities
  
            h3 Definitions

            ul
              li 
                p Tier 1: Organization (high-level, strategic context)
                  ul
                    li Threats specific to the organization
                    li System weaknesses or deficiencies
                    li Potential adverse impact from loss
                    li Impact of new technology
              li
                p Tier 2: Mission / Business processes (medium-level, architecture)
                  ul
                    li Closely tied to the development of “Business Continuity Plans” (BCP)
                    li Communicated to team performing Tier 3 assessment
              li
                p Tier 3: Information Systems (low-level, implementation)


            h2 Section 1: Assessment Preparation

            h3 Scope

            h4 Organization Overview and Applicability

            p(data-bind="text: descriptionValue")

            p The purpose of this risk assessment is to address and define the risk requirements of our organization, primarily in the context of Tier 1, or high-level, strategic risks facing our organization.  To facilitate this analysis, this document also addresses Tier 2 and Tier 3 concerns as appropriate.  Since our organization is heavily reliant on information-technology (IT), this risk assessment focuses on threats, vulnerabilities, and impacts specific to IT.

            h4 Constraints

            p This document does not provide proscriptive solutions to workplace-security controls or business continuity, which are covered in the employee manual and BCP respectively.  This document does not consider strategic or tactical threats arising from competition with other organizations or businesses, or financial risks.  Threats and impacts are measured qualitatively as appropriate to the tier.

            h4 Effectiveness Time Frame

            p 
              | This risk assessment is intended to serve for a period of 
              span(data-bind="text: periodValue")
              | .  It should be periodically amended and updated in accordance with the overall risk strategy plan.

            h3 Supplemental Guidance

            p This document is based on two National Institute of Science and Technology (NIST) Special Publications:
              ul
                li 
                  SP 800-30 Revision 1: “Guide for Conducting Risk Assessments”, September 2012, 
                  br
                  a(href="http://www.nist.gov/manuscript-publication-search.cfm?pub_id=912091") http://www.nist.gov/manuscript-publication-search.cfm?pub_id=912091
                li
                  SP 800-66 Revision 1: "An Introductory Resource Guide for Implementing the Health Insurance Portability and Accountability Act (HIPAA) Security Rule", October 2008, 
                  br
                  a(href="http://csrc.nist.gov/publications/nistpubs/800-66-Rev1/SP-800-66-Revision1.pdf") http://csrc.nist.gov/publications/nistpubs/800-66-Rev1/SP-800-66-Revision1.pdf

            h3 Risk Model

            p The threat sources considered in this document includes adversarial (individuals and groups, excluding nation-states), accidental, structural, and environmental threats.

            p The threat events considered include typical “hack” attacks, including network reconnaissance, eavesdropping and “man-in-the-middle” attacks, attempts to exploit IT systems using known or unknown electronic means, malware and phishing attacks on employees, and malicious insiders/staff .  Threats in the form of accidental deletions, omissions, or disclosures are also addressed.

            p Vulnerability sources are considered to be inherent bugs or defects in the overall architecture, the implementation, or flaws in the underlying hardware and software created by third-parties.  Vulnerabilities resulting from reliance on external sources for server hosting, security and other services are also considered.

            p This risk-assessment uses an “asset/impact-oriented” approach as a starting point.  Below critical assets of the organization are delineated, and known vulnerabilities and potential threats to each are described.

            h2 Assessment

            p 

            h3 Critical Systems and Assets

            p At a high-level, our organization relies on the following systems, services, and/or assets.  Each system has a number of sub-systems that are enumerated below.




  script(type='text/javascript')
    var ViewModel = function() {
      this.nameValue = ko.observable("Your Organization Name");
      this.yearValue = ko.observable("2012");
      this.descriptionValue = ko.observable("Brief overview of your organization");
      this.titleValue = ko.computed(function() {
        return this.nameValue() + " " + 'Risk Analysis' + ' ' + this.yearValue();
      }, this);
      this.periodValue = ko.observable("one year");
    };
    ko.applyBindings(new ViewModel());
